@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+NSW+ACT+Foundation&');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    min-height: 100vh;
    font-family: 'Edu NSW ACT Foundation', sans-serif;
    font-weight: 300;
    color: #003333;

    background-color: #FBF4D7;
    background-image: linear-gradient(#f2f4c2, rgb(255, 255, 255))
}



/* headings and logo */

h1 {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 600;
    word-spacing: 5px;
    color: #262C43;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 30px;
    padding-bottom: 30px;

}

/* navigation menu */

#menu,
#logo {
    line-height: 75px;


}

#menu ul {
    float: right;
    font-size: 110%;
    margin-right: 30px;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:visited {
    color: #075A4D;
}

#menu a:hover {
    color: #FEB1C8;
}

#menu a:active {
    color: red;
}



  /* Flexbox layout */
.flex {
    width: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    flex-wrap: wrap;
    align-content: stretch;

}

.people {


    padding-top: 50px;
    padding-left: 50px;
    margin-top: 100px;

}

.place {

    margin-top: 75px;
    padding-bottom: 100px;


}


/* responsive gallery of images*/


.images {
    width: 100%;
    height: auto;
}


/* footer  with social media icons */



#social{
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(209, 179, 184);
}

#social i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
