@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+NSW+ACT+Foundation&');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Edu NSW ACT Foundation', sans-serif;
    font-weight: 300;
    color: #003333;

    background-color: #FBF4D7;
    background-image: linear-gradient(#f2f4c2, rgb(255, 255, 255))
}



/* headings and logo */

h1 {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 600;
    word-spacing: 5px;
    color: #262C43;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 30px;
    padding-bottom: 30px;

}

/* navigation menu */

#menu,
#logo {
    line-height: 75px;


}

#menu ul {
    float: right;
    font-size: 110%;
    margin-right: 30px;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:visited {
    color: #075A4D;
}

#menu a:hover {
    color: #FEB1C8;
}

#menu a:active {
    color: red;
}


/* table for yoga schedule*/


table {
    
    border-collapse: collapse;
    width: 100%;

    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }