@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+NSW+ACT+Foundation&');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {

    font-family: 'Edu NSW ACT Foundation', sans-serif;
    font-weight: 400;
    color: #003333;
    background-color: #f2f4c2
}

/* background-color: #FBF4D7;
    background-image: linear-gradient(#f2f4c2, rgb(255, 255, 255))*/


/* headings and logo */

h1 {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 600;
    word-spacing: 5px;
    color: #262C43;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 30px;

}

/* navigation menu */
#menu,
#logo {
    line-height: 75px;


}

#menu ul {
    float: right;
    font-size: 110%;
    margin-right: 30px;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:visited {
    color: #075A4D;
}

#menu a:hover {
    color: #FEB1C8;
}

#menu a:active {
    color: red;
}

/* hero image */



#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}



/* text over hero image */


#text-insert {
    position: absolute;
    top: 70px;
    left: 300px;
    font-size: 120%;
    font-weight: 80;
    font-style: italic;
    letter-spacing: 2px;
    color: rgb(255, 253, 249);
    width: auto;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/PINK-1625980953551-50502b3b8b2f.webp') no-repeat center center;
    background-size: cover;



    /* zoom animation when loading page */
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom for hero image */

@keyframes image-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.3);

    }
}


/* main content */

#benefits {
    width: auto;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    flex-wrap: wrap;

    justify-content: center;


}

/* h2 and p */

#yoga-benefits {

    padding-top: 50px;
    padding-left: 50px;
    margin-top: 50px;
    padding-bottom: 30px;
    box-shadow: 20px 10px 30px 10px rgb(234, 195, 202);

}

/* footer with social media icons */


#social {
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;


}


#social i {
    font-size: 160%;
    padding: 5%;
    color: #075A4D;

}

/*
/* Media queries */

/* For larger to medium screens size from 1200px wide and down 
@media screen and (max-width: 1200px) {
    #text-insert {
        padding-right: 20px;
        margin-right: 50px;
        float: left;

    }

    #content {
        margin: 0% auto;
        padding: 0%;
        width: auto;
        height: fit-content s
    }


    #benefits {
        width: 65%;
        height: fit-content;
        float: right;
        margin: 0 auto;

    }

    #about-us {
        margin: 0% auto;
        width: 65%;
        padding-bottom: 30px;
    }

    #classes {
        width: 75%;
        clear: left;
        padding-bottom: 150px;

    }

    #classes p {
        padding-bottom: 50%;
    }

    #footer {
        position: fixed;
        bottom: 0;
        height: fit-content;
        width: 100%;
        padding: 0;
    }
}


@media screen and (max-width: 992px) {

    #text-insert {
        padding-right: 20px;
        margin: 0 autox;
        float: left;

    }

    #content {
        margin: 0% auto;
        padding: 0%;
        width: auto;
        height: fit-content s
    }


    #benefits {
        width: 75%;
        height: fit-content;
        float: right;
        margin: 0 auto;

    }

    #about-us {
        margin: 0% auto;
        width: 75%;
        padding-bottom: 30px;
    }

    #classes {
        width: 75%;
        clear: left;
        padding: 0;
        margin-top: 10%;
    }

    #footer {
        position: fixed;
        bottom: 0;
        height: fit-content;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {

    #text-insert {
        padding-right: 20px;
        margin: 0 autox;
        float: left;

    }

    #content {
        margin: 0% auto;
        padding: 0%;
        width: auto;
        height: fit-content;
    }


    #benefits {
        width: 100%;
        height: fit-content;
        float: right;
        margin: 0 auto;
        padding: auto;

    }

    #about-us {
        margin: 0% auto;
        width: 85%;
        padding-bottom: 30px;
    }

    #classes {
        margin-top: 50px;
        width: 85%;
        clear: left;
        padding-top: 80px;

        height: max-content;
    }

    #footer {
        position: fixed;
        bottom: 0;
        height: fit-content;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {

    #text-insert {
        position: fixed;
        left: 50px;

        margin: 0 autox;
        float: left;

    }

    #content {
        margin: 0% auto;
        padding: 0%;
        width: auto;
        height: fit-content;
    }


    #benefits {
        width: 95%;
        height: fit-content;
        float: right;
        margin: 0 10px;
        padding-left: 80px;

    }

    #about-us {
        margin: 0% auto;
        width: 100%;
        padding-bottom: 30px;
    }

    #classes {
        margin-top: 50px;
        width: 95%;
        clear: left;
        padding-top: 300px;
        padding-left: 60px;
        padding-bottom: 50px;

        height: max-content;
    }

    #footer {
        position: fixed;
        bottom: 0;
        height: fit-content;
        width: 100%;
        padding: 0;
    }
}